.container {
	margin: 0 auto;	
	font-family: arial;
	color: #4628FB;
}

.master-nav {
	background-color: white;
	height: 4.375rem;
	/*position: fixed;*/
	width: 100%;
	border-bottom: 1px solid #4628FB;
	z-index: 9999;
}

.search-nav {
	width: 1000px;
	margin: 0 auto;
}

.search-query{
	float: right;
	padding: 25px 0px;	
}

.brand{
	float: left;
	padding-left: 0px;	
}

.title {
	padding-top: 10px;
	padding-left: 10px;
	float: left;
	width: 80%;
}
#search-results a {
	font-size: 24px;
	text-decoration: none;
}

#search-container {	
	width: 1000px;
	margin: 10px auto;
}

.search-nav img {
	width: 5%;
	float:left;
	padding-top: 10px;
}

.description {
	font-size: 12px;
	color: black;
	padding-bottom: 15px;
}
.thumbnail {
	float: left;
}
.clear {
	clear: both;
}